<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="laby.iut"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon1" android:label="@string/app_name" android:debuggable="true">   
        <activity android:name="Labyrinthe" android:label="@string/app_name"> 
     		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="NouvellePartie" android:name="NouvellePartie">	</activity>
        <activity android:name="Solo" android:label="newSolo">		</activity>
        <activity android:name="PlateauJeu"  android:label="PlateauJeu">		</activity>
    	<activity android:name="AffichageCartes" android:label="AffichageCartes">	</activity>
    	<activity android:name="Pseudos2" android:label="Pseudos2">	</activity>
    	<activity android:name="Pseudos3" android:label="Pseudos3">	</activity>
    	<activity android:name="Pseudos4" android:label="Pseudos4">	</activity>
    	<activity android:name="Multi" android:label="Multi">	</activity>
    	<activity android:name="PartieLocale" android:label="PartieLocale">	</activity>
    	<activity android:name="APropos" android:label="APropos">	</activity>
    	
    


</application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 